[package]
name = "rource-core"
description = "Core visualization engine for Rource"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true

[lints]
workspace = true

[dependencies]
rource-math = { path = "../rource-math" }

[dev-dependencies]
